<div class="container">
  <table style="width: 100%;">
    <thead>
      <tr>
        <td>namr</td>
        <td>age</td>
        <td>address</td>
        <td>date of birth</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of students">
        <td><a [routerLink]="['/students',item.id]">{{item.name}}</a></td>
        <td>{{item.age}}</td>
        <td>{{item.address.street+'-'+item.address.pin}}</td>
        <td>{{item.dateOfBirth}}</td>
      </tr>
    </tbody>
  </table>

</div>
